.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  font-size: 81px;
}

.button {
  font-family: 'Pacifico', sans-serif;
  height: 56px;
  font-size: 30px;
  background-color: #528bcc;
  margin: 0 0 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:active {
  transform: scale(.97);
  border: 1px solid #000;
  background-color: #000;
}

.line {
  font-family: 'Marck Script', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.geo {
  position: absolute;
  inset-inline-start: 0px;
  inset-block-start: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.rekt {
  position: absolute;
  top: 12%;
  left: 15%;
  rotate: 40deg;
  animation:
    fadeIn 2s ease,
    fadeIn3 60s infinite linear 2s;
  height: 30%;
  width: 30vh;
  background-color: #528bcc;
}

.cirkle {
  position: absolute;
  bottom: 12%;
  right: 15%;
  animation-name: fadeIn2;
  animation-duration: 2s;
  height: 30%;
  width: 30vh;
  border-radius: 90%;
  background-color: #d32b2b;
}

@keyframes fadeIn {
  from {
    top: -300px;
    left: -300px;
    rotate: -300deg;
  }
  to {
    top: 12%;
    left: 15%;
    rotate: 40deg;
  }
}

@keyframes fadeIn3 {
  from {
    rotate: 40deg;
  }
  to {
    rotate: 400deg;
  }
}

@keyframes fadeIn2 {
  from {
    bottom: -300px;
    right: -300px;
  }
  to {
  bottom: 12%;
  right: 15%;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #19191a;
    color: #e1e3e7;
  }

  .button {
    color: #e1e3e7;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    background-color: #ffffff;
    color: #000000;
  }

  .button {
    color: #ffffff;
  }
}
